section.new-tweet {
    background-color: #E8E8E8;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 15px;
    width: 400px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  
  h2 {
    border-bottom: 0.1px solid rgb(88, 88, 88);
  }

  form {
    #tweet-options {
      margin-top: 5px;
    }
    #tweet-input{
      padding: 5px;
      margin-top: 15px;

    }
  }

}
  
.p5Canvas {
  display: flex;
  margin: auto;
}
section.doodle-canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto;

  canvas.p5Canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
  }
}

.new-tweet.display-none {
  display: none;
}

.counter {
  float: right;
}

.counter.red {
  color: red;
}

.red {
  color: red;
}

textarea {
  height: 4em;
  max-width: 100%;
  max-height: 250px;
  min-height: 4em;
  min-width: 100%;
  width: 100%;
  
}
